*{
    color: #fff;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

body{
    background-color: #1d325b;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.turn-container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.turn-container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.2rem;
}
.turn-container .turn-box{
    border: 3px solid #1f83b1;
    font-size: 1.6rem;
    font-weight: 700;
}
.turn-container .turn-box:nth-child(2){
    border-right: none;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #8D493A;
    z-index: -1;
}
.mode-selection{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px
}

.mode-selection button{
    background-color: #8D493A;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.mode-selection button:hover{
    padding: 10px 25px;
    color: #000;
    background-color: #08d9d6;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid #000;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid #1f83b1;
}
.box:hover{
    background-color: #8D493A;
}

#play-again{
    background-color: #8D493A;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#play-again:hover{
    padding: 10px 40px;
    color: #000;
    background-color: #08d9d6;
}
